<form action="/cart" method="post">
  <input
    type="text"
    name="productId"
    id="productId"
    value="<%= product.id %>"
    hidden
  />
  <button class="btn" type="submit">Add to cart</button>
</form>
