<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/products.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <h1>Cart Page</h1>
  </body>
</html>
